﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>VigenereCipher</title>
    <link type="text/css" href="css/site.css" rel="stylesheet" />
    <link type="text/css" href="lib/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="css/square.css" rel="stylesheet" />
    <link type="text/css" href="lib/fontawesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <canvas id="pixie"></canvas>
    <div class="back"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img style="height: 35px; width: 35px;" class="logo" src="images/logo.png"></a>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - Плахотнюк Владлен. Курсовой проект</p>
        </footer>
    </div>

    <script src="lib/jquery-3.3.1.slim.min.js"></script>
    <script src="lib/popper.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="js/parallaxsoon4.js" type="text/javascript"></script>
    <script src="jquery.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
