﻿.btn span.fa-check, .btn i.fa-check {
    opacity: 0.2;
}

.btn.active span.fa-check, .btn.active i.fa-check {
    opacity: 1;
}

.logo {
    height: 35px;
    width: 35px;
}

.colLabel {
    font-weight: bold;
    position: relative;
    font-size: 36px;
    color: white;
    text-align: center;
    display: block;
}

.centered {
    text-align: center;
    display: block;
}

#somelabel0 {
    min-height: 100px;
}

.no-gutters {
    margin-right: 0px;
}

.width100 {
    width: 100%;
}

.paddingChange {
    padding-right: 11px;
}

