 /********* Canvas*************/
.back
 {
    background:url(../images/city2.jpg) no-repeat center center fixed;
    background-size: 100%; 
    background-size: cover;
    opacity: 0.2;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
 #pixie{position:absolute;z-index: 0;}
  
