﻿<h1 class="centered somelabel0">Hello world</h1>

<div class="container">
    @model ActionConfiguration
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <div class="row">
            <div class="col-lg-3 mr-auto centered">
                <div class="btn-group-toggle btn-group-vertical" data-toggle="buttons">
                    <label class="btn btn-primary active" style="text-align: right">
                        <input asp-for="CipherType" type="radio" autocomplete="off" name="cipher" value="@CipherType.Vigenere" id="vigenere">Виженера <i class="fa fa-check" aria-hidden="true"></i>
                    </label>
                </div>
            </div>

            <div class="col-lg-6 mr-auto centered">
                <div class="rows centered">
                    <h4><i class="fa fa-arrow-left" aria-hidden="true"></i> Выберите алгоритм шифрования</h4>
                    <hr align="center" size="1" color="black" class="mt-0 mb-0">
                    <h4>Выберите тип файла <i class="fa fa-arrow-right" aria-hidden="true"></i></h4>
                </div>

                <div class="mt-3" style="display: block;">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text rangeClass" id="basic-addon1" style="color: white; background-color: #0069d9;">Введите ключ:</span>
                        </div>
                        <input asp-for="Key" pattern="^[а-яА-Я]+$" name="key" id="key" type="text" class="form-control" title="Ключ должен содержать только кириллицу" placeholder="Только кириллица" aria-label="minValue" required>
                    </div>

                    <div class="input-group mb-2" data-toggle="buttons">
                        <div class="btn-group btn-group-toggle" style="margin:0 auto;">
                            <label class="btn btn-primary active" onclick="changeSubmitBtnText('зашифрованный')">
                                <input asp-for="ActionType" type="radio" name="actionType" value="@ActionType.Encrypt" id="encrypt" autocomplete="off" checked>
                                Зашифровать
                            </label>
                            <label class="btn btn-primary" onclick="changeSubmitBtnText('расшифрованный')">
                                <input asp-for="ActionType" type="radio" name="actionType" value="@ActionType.Decrypt" id="decrypt" autocomplete="off">
                                Дешифровать
                            </label>
                            <script type="text/javascript">
                                function changeSubmitBtnText(type) {
                                    document.getElementById("submitBtn").innerHTML = "Получить " + type + " файл";
                                }
                            </script>
                        </div>

                    </div>
                    <label class="btn btn-primary">
                        <span id="spanFile">Выберите файл для загрузки</span> <i class="fa fa-file" aria-hidden="true"></i>
                        <input asp-for="File" type="file" name="uploadfile" id="uploadfile" style="opacity: 0; display: none;" onchange="changeSpanFile()" accept=".txt" required>
                        <script type="text/javascript">
                            function changeSpanFile() {
                                if (document.getElementById('uploadfile').files[0] != null) {
                                    var name = document.getElementById('uploadfile').files[0].name;
                                    var accept = uploadfile.getAttribute('accept');
                                    if (name.endsWith(accept)) {
                                        document.getElementById("spanFile").innerHTML = name;
                                        document.getElementById("submitBtn").disabled = false;
                                        return;
                                    }
                                    else {
                                        alert("Вы выбрали неверный формат файла!");
                                    }
                                }

                                document.getElementById("spanFile").innerHTML = "Выберите файл для загрузки";
                                document.getElementById("submitBtn").disabled = true;
                            }
                        </script>
                    </label>
                </div>
            </div>

            <div class="col-lg-3 centered">
                <div class="btn-group-toggle btn-group-vertical" data-toggle="buttons">
                    <label class="btn btn-primary active" style="text-align: left" onclick="changeFileType('txt')">
                        <input asp-for="FileType" type="radio" class="fileTypeSwitcher" autocomplete="off" name="fileType" value="@FileType.TXT" id="txt"><i class="fa fa-check" aria-hidden="true"></i> .txt
                    </label>
                    <label class="btn btn-primary" style="text-align: left" onclick="changeFileType('docx')">
                        <input asp-for="FileType" type="radio" class="fileTypeSwitcher" autocomplete="off" name="fileType" value="@FileType.DOCX" id="docx"><i class="fa fa-check" aria-hidden="true"></i> .docx
                    </label>
                </div>
            </div>
        </div>

        <div class="row centered mt-3">
            <div class="col-lg-6 mr-auto ml-auto">
                <button id="submitBtn" class="btn btn-success" type="submit" disabled>Получить зашифрованный файл</button>
            </div>
        </div>
        <script type="text/javascript">
            function changeFileType(fileType) {
                if (uploadfile.getAttribute('accept') != "." + fileType) {
                    $('#uploadfile').attr("accept", "." + fileType);
                    $("#uploadfile")[0].value = "";
                    changeSpanFile();
                }
            }
        </script>
    </form>
</div>

@if ((bool)ViewData["IsErrorReceived"])
{
    <div class="container warnings mt-4">
        <div class="row centered">
            <div class="col-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>@ViewData["ErrorMessage"]</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
}